* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    padding: 10px;
    flex: 0 0 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    border-radius: 20px;
}

/* 2 cards */
@media (min-width: 576px) {
    .card {
        flex: 0 0 calc(50% - 10px);
    }
}

/* 3 cards */
@media (min-width: 768px) {
    .card {
        flex: 0 0 calc(33.333% - 13.33px);
    }
}

/* 4 cards */
@media (min-width: 992px) {
    .card {
        flex: 0 0 calc(25% - 15px);
    }
}